<html>
	<body>
		{{ sess.ut_type }}
		<form  action = "http://localhost:5000/exaction	" method = "GET" name="expubyme" >
			<table>
				<tr><th>Name</th><th>Details</th><th>Edit</th><th>Participations</th></tr>
				{% for e in exs %}
					<tr>
						<td>{{ e['ex_name'].title() }}</td>
						<td><a href="http://localhost:5000/details/{{ e['ex_id'] }}" target="_blank"><button type="button">View</button></a></td>
						<td><button name="xedit" value="{{ e['ex_id'] }}">Edit</button></td>
						<td><button name="xparts" value="{{ e['ex_id'] }}">View</button></td>
					</tr>
				{% endfor %}
			</table>
		</form>
	</body>
</html>
