<html>
	<head>
      	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'test.css') }}">
      	<script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
   	</head>
	<body>
		<form action = "http://localhost:5000/update" method = "POST" enctype = "multipart/form-data">
			<p>Name <input type = "text" name = "exname" value="{{ ex['ex_name'] }}" /></p>
			<p>Category <select name="excat">
				{% for c in cats %}
					<option value="{{ c['cat_id'] }}">{{ c['cat_name'] }}</option>
				{% endfor %}
			</select></p>
			<p>Address <textarea name="exaddress" placeholder="Address">{{ ex['ex_address'] }}</textarea></p>
			<p>City 
				<select name="excity">
					<option value="mumbai">Mumbai</option>
					<option value="delhi">Delhi</option>
					<option value="banglore">Banglore</option>
					<option value="pune">Pune</option>
					<option value="madras">Madras</option>
				</select>
			</p>
			<p>Starting at <input type = "datetime-local" name = "exstart" id="ixs" value="{{ ex['ex_start_date'] }}" /></p>
			<p>Ending at <input type ="datetime-local" name = "exend" id="ixe" value="{{ ex['ex_end_date'] }}" /></p>
			<p><input type="radio" name="exvrr" value="yes">Yes</p>
			<p><input type="radio" name="exvrr" value="no">No</p>
			<p>Description <textarea name="exnote" placeholder="Description">{{ ex['ex_note'] }}</textarea></p>
			<p><input type="file" name="exdoc" value="{{ ex['ex_doc'] }}" /></p>
			<p><button type = "submit" name = "exupdate" onClick="return tsformat()" value = "{{ ex['ex_id'] }}">Update</button></p>
		</form>
	</body>
</html>